
$dark: #2c3e50;
$light: white;
$light-green: rgb(95, 250, 173);
input{
    border-radius: 5px;
    border: solid 1px gray;
}

.btn{
    border-radius: 5px;
}

/*Layout*/
@mixin flexVertical($wrap: nowrap) {
    display: flex;
    flex-direction: column;
    flex-wrap: $wrap;
}

@mixin flexHorizontal($wrap: nowrap) {
    display: flex;
    flex-direction: row;
    flex-wrap: $wrap;
}

@mixin shadow {
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 12px 5px slategray;
    background: white;
}